body{
    font-family: "Microsoft YaHei";
    min-width: 3.2rem;
    max-width: 6.4rem;
    margin: 0 auto;
}
/*a{
    text-decoration: none;
    color: black;
}*/
/*.swiper-container,.swiper-wrapper,.swiper-slide{
    width: 100%;
}*/
.swiper-container{
    height: 3.59rem;
}
.swiper-slide img{
    width: 6.4rem;
    height: 3.59rem;
/*    position: absolute;*/
}
.topic{
    color:white;
    width: 6.4rem;
    height: .67rem;
    line-height: .6rem;
    font-size:.32rem;
    font-weight: bold;
    position: absolute;
    top: 2.92rem;
    left: 0;
    z-index: 10;
}
.title{
    margin-left:.22rem;
}
.page-number{
    float: right;
    margin-right: .22rem;
}
.news{
    margin: .3rem .16rem .3rem .18rem;
    position: relative;
}
.news-img{
    float:left;
    width: 1.58rem;
    height: 1.18rem;
}
.news-right{
    float: left;
    width: 4.28rem;
    height: 1.18rem;
    margin-left: .19rem;
}
.news-topic{
    height: .73rem;
    font-size: .3072rem;
    vertical-align: middle;
    text-overflow: ellipsis;
    color: #141414;
}
.news-footer{
    width: 4.28rem;
    height: .2rem;
    font-size: .1536rem;
    margin: .16rem 0 .04rem;
}
.news-time{
    margin: 0 .32rem 0 .07rem;
    color: #a7a7a7;
}
.news-type{
    color: #00a0e9;
    padding-left: .18rem;
    border-left: 1px solid black;
}
.news-comment{
    float: right;
    margin-right:0.2rem;
}
.news-comment img{
    height: .2rem;
    vertical-align: middle;
    margin-right: .05rem;
}
.news-header{
    margin:0 .16rem .07rem .18rem;
}
.news-three-topic{
    display: inline-block;
    font-size: .3072rem;
    text-overflow: ellipsis;
}
.news-three-comment{
    float: right;
    margin-right: .2rem;
}
.news-three-comment img{
    height: .2rem;
    margin-right: .05rem;
}
.news-three-comment span{
    font-size: .1536rem;
}
.news-img-three{
    float: left;
    width:2.12rem;
}
.img2{
    margin: 0 .02rem;
}
.play,.play1{
    width: 50px!important;
    height: 50px!important;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    z-index: 9;
}
.play1{
    left: .8rem;
}
.btn{
    font-size: .2rem;
    text-align: center;
    margin-top: .1rem;
}
.clear:after{
    clear: both;
    content: " .";
    display: block;
    height: 0;
    visibility: hidden;
}